/*******************************/
/* CODE VOOR HET EERSTE BLOKJE */
/*******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
  /* regular / 400 */
  font-family: 'expletussans';
  src: url('../fonts/ExpletusSans-Regular.ttf');
  font-weight: 400;

}

@font-face {
  /* bold / 700 */
  font-family: 'expletussans-bold';
  src: url('../fonts/ExpletusSans-Bold.ttf');
  font-weight: 700;

}


li:first-of-type {
  padding:1em;
  overflow:auto;
}

li:first-of-type h2 {
  /* JOUW CODE HIER */
  font-family: 'expletussans-bold';

}

li:first-of-type p {
  /* JOUW CODE HIER */
    font-family: 'expletussans';
    font-size: 12px;
}

/* hiermee selecteer je de eerste letter van de p in het eerste blokje */
li:first-of-type p::first-letter {
  /* JOUW CODE HIER */
  font-family: 'expletussans-bold';
  font-size: 25px;
  
}





/*******************************/
/* CODE VOOR HET TWEEDE BLOKJE */
/*******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
  font-family: monstserrat;
  src: url('../fonts/Montserrat-Thin.ttf');
}


/* hiermee selecteer je het tweede blokje */
li:nth-of-type(2) {
  /* custom properties voor tweede blokje */
  --color:hsl(0 0% 100%);
  --background:rgb(0 24 54);
  --shadow:Cyan;
  
  /* met onderstaande regels staat de tekst in het midden */
  /* en elk woord op een nieuwe regel */
  display:grid;
  grid-auto-columns:min-content;  
  place-content:center;
  text-align:center;
  
  background-color:var(--background);
}

li:nth-of-type(2) h2 {
  margin:0;
  color:var(--color);

  /* JOUW CODE HIER */
  font-family: monstserrat;
  color: var(--color);
  font-size: 40px;
  text-transform: uppercase;
  line-height:85%;
  font-weight: 100;
  text-shadow: 
    0 0 .1em var(--shadow),
    0 0 .2em var(--shadow),
    0 0 .3em var(--shadow),
    0 0 .4em var(--shadow);  
}





/******************************/
/* CODE VOOR HET DERDE BLOKJE */
/******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
  font-family: 'saira';
  src: url('../fonts/Saira_Condensed-Bold.ttf');
}

li:nth-of-type(3) {
  /* custom properties voor derde blokje */
  --color:white;
  --background:rgb(230 127 138);
  --shadow:rgb(0 0 0 / .75);

  /* JOUW CODE HIER */
  background-color: var(--background);
  display:grid;
  grid-auto-columns:min-content;  
  place-content:center;
  text-align:center;
}

li:nth-of-type(3) h2 {
  /* JOUW CODE HIER */
  font-family: 'saira';
  font-size: 50px;
  text-transform: uppercase;
  color: var(--color);
  transform:skewY(-10deg);
  line-height: 49px;
  letter-spacing: .1em;
  text-shadow: 6px 0 0 var(--shadow);
  
}